:root {
    --font: 'Poppins', sans-serif;    
    --background: #000000;
    --white:#ffffff;
    --pink:#ff0055;
    --hover:#121212;
}

body{
    background-color: var(--background);
    color: var(--white);
}

footer{
    text-align: center;
    color:var(--white);
    font-family: var(--font);
}

.link{
    display: block;
    margin-bottom: 20px;
    padding: 17px;
    background-color: var(--background);
    color:var(--comment);
    font-family: var(--font);
    font-size: 1rem;
    font-weight: 500;
    border-radius: 5px;
    border: solid var(--pink) 1px;
    text-align: center;
    text-decoration: none;
    transition: all .25s cubic-bezier(.08,.59,.29,.99);
}

.link:hover{
    background-color: var(--hover);
    color: var(--pink);
}

#user{
    height: 50px;
}
#social-icons{
    text-align: center;
}

#social-icons a {
    color: var(--pink);
    text-decoration: none;
    font-size:23px;
    padding:12px 17px;
    background:transparent;
    font-weight:bold;
    margin:0px 8px;
}

#social-icons a:hover {
    color: var(--white);
    text-decoration: none;
    font-size:23px;
    background:transparent;
    font-weight:bold;
    margin:0px 8px;
    transition: 0.35s;
}

#avatar{
    width: 100px;
    height: 100px;
    display: block;
    margin: 35px auto 20px;
    border-radius: 50%;
    border: solid var(--pink) 3px;
}

#uname{
    width: 100%;
    color: var(--pink);
    font-family: var(--font);
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    line-height: 1.25;
    display: block;
}

#links{
    max-width: 1000px;
    width: auto;
    display: block;
    margin: 27px auto;
}